html, body {
    color: white;
    background-color: rgb(8, 8, 8);
    font-family: 'VT323', monospace;
    font-size: 40px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

input {
    font-family: 'VT323', monospace;
    background-color: rgb(8, 8, 8);
    color: white;
    font-size: 40px;
    outline: none;

}

#page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#game-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#tool-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#inventory {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

#text-output {
    overflow-y: scroll;
    height: 100%;
}

#text-input {
    align-self: flex-end;
    border: 1px solid white;
    width: 99.5%;
    justify-self: center;
}

.outputElem {
    padding-bottom: 5%;
}

#downstairs-map-wrapper {
    display: none;
}

#upstairs-map-wrapper {
    display: none;
}

.map-wrapper {
    position: relative;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    width: 390px;
}

.map {
    width: 350px;
}

.marker {
    position: absolute;
    background-image: url("./static/images/marker.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.cross {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
}

#upstairs-marker {
    display: none;
}

.a {
    color: rgb(147, 220, 238);
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50%;
    width: 50%;
    left: 25%;
    top: 25%;
    border: 2px solid white;
    background-color: black;
    user-select: none;
    z-index: 2;
}

#study-lock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-image: url("./static/images/lock-locked.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.study-lock-disc {
    font-size: 200%;
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
    line-height: 100%;
}

.lock-dec {
    height: 40%;
    cursor: pointer;
}

.lock-dec:hover {
    color: rgb(195, 195, 195);
}

.lock-inc {
    height: 40%;
    cursor: pointer;
}

.lock-inc:hover {
    color: rgb(195, 195, 195);
}


#study-disc-0 {
    padding-top: 140px;
}

.modal-close {
    position: absolute;
    top:0;
    right:30px;
    font-size: 150%;
    cursor: pointer;
}

.modal-close:hover {
    color: rgb(195, 195, 195);
}

#enter-study-code {
    cursor: pointer;
    text-decoration: underline;
    position: absolute;
    bottom:10px;
}

#enter-study-code:hover {
    color: rgb(195, 195, 195);
}

#open-attempt-message {
    position: absolute;
    top:0;
}

#study-code-note-wrapper {
    width: 80%;
    left: 10%;
}

#study-code-note {
    white-space: pre;
}